
:root{
    --stripe-size: 50px;
    --color1: #3498db;
    --color2: #2980b9;
    --duration: 3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    background-color: #1a1a1a;
}

/*Animated background that I took of from https://codepen.io/YusukeNakaya/pen/xNdvKW */
.animatedBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.stripeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--stripe-size));
    height: 100%;
    background: repeating-linear-gradient(
    45deg,
        var(--color1) 25%,
        var(--color1) 50%,
        var(--color2) 50%,
        var(--color2) 75%
    );
    background-size: var(--stripe-size) var(--stripe-size);
    animation: stripeMove var(--duration) linear infinite;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.8) 100%);
}

@keyframes stripeMove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--stripe-size) * -1));
    }
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}